@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #faf8f5;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,
      #004b87 0%,
      #004b87 50%,
      #004b87 100%);
  border-radius: 20px;
  border: 2px solid #faf8f5;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg,
      #003764 0%,
      #004b87 50%,
      #004b87 100%);
}


@font-face {
  font-family: 'Poppinsthin';
  src: url('../../assets/Fonts/Poppins-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppinsbold';
  src: url('../../assets/Fonts/Poppins-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '29LT Bukra';
  src: url('../../assets/Fonts/29lt-bukra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '29LT-Bukra-Light';
  src: url('../../assets/Fonts/29lt-bukra-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '29LT Bukra SmBd';
  src: url('../../assets/Fonts/29LT Bukra SmBd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '29LT Bukra Medium';
  src: url('../../assets/Fonts/29LT Bukra Md.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '29LT Bukra Regular';
  src: url('../../assets/Fonts/29LT Bukra Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NewAmsterdam';
  src: url('../../assets/Fonts/NewAmsterdam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.displayyycategoryyyy {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  row-gap: 30px;
  padding-bottom: 25px;
}

.displayyycategoryyyy .flex.gap-4 {
  width: max-content;
  margin-top: 0;
  max-width: 35%;
}


.eveentssbuttonss {
  width: max-content;
  padding: 5px 20px;
}

.maineveentssbuttonss {
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

@media (max-width:700px) {
  .mobileimagessss {
    height: 700px;
    width: 100%;
  }

  .displayyycategoryyyy .flex.gap-4 {
    width: 100%;
    max-width: 100%;
  }

  /* .mobileeebannerrrsss {
    justify-content: center !important;
  } */


  .superchennailogoosizeee {
    max-height: 100px !important;
  }

  .mobilebannerrrlayouuttt {
    height: 70px !important;
    width: 85px;
  }

  .flexxxconatinerrr {
    justify-content: center;
  }

  .flexcardscontainerrr {
    display: flex;
    gap: 20px;
    overflow: scroll;
    justify-content: flex-start;
  }

  .flexcardscontainerrr button {
    flex-shrink: 0;
    padding: 10px 27px;
  }

  .flexcardscontainerrr button .festparaa {
    font-size: 14px !important;
    line-height: 23px;
    font-weight: 500 !important;

  }
}



.paragaphhlexical {
  /* margin-top: 20px !important; */
  margin-bottom: 20px !important;
}

.sliderrrrcomponenstssssSummer {}

.summerfestcardsslider .slick-slide {
  padding: 20px;
  /* margin: 20px; */
}

.buttonsummers {
  background-color: #005b70;
  color: #fff;
}

.triviabgsection {
  background-image: url("/images/aboutsbg.png");
  height: 890px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.loginsignupbg {
  /* background-image: url("/images/loginsignupbg.png"); */
  background-image: url("/images/readytoplaysection.png");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.howitworkssectionbg {
  /* background-image: url("/images/section-how-it.jpeg"); */
  background-image: url("/images/how-it-works.png");
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body .paragraphfont {
  font-size: 16px;
  line-height: 20px;
}


.herbannersections {
  height: 80vh;
}

.headingtexttriviaaa {
  font-size: 25px;
  line-height: 27px;
  margin-bottom: 10px;
  color: #0A0D3D;
}

.triviaaaimage {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.triviaaaimage svg {
  width: 35px;
  height: 35px;
}

.triviaaboutbga:first-child {
  background-color: #F6F3FE;
  border: 1px solid #DCD5F2;
}

.triviaaboutbga:first-child .triviaaaimage {
  background-color: #E0D6F5;
}

.triviaaboutbga:nth-child(2) {
  background-color: #FFEFF9;
  border: 1px solid #e8c3d3;
}

.triviaaboutbga:nth-child(2) .triviaaaimage {

  background-color: #FDD7ED;
}

.triviaaboutbga1:first-child {
  background-color: #EEF5FD;
  border: 1px solid #C6DCED;
}


.triviaaboutbga1:first-child .triviaaaimage {
  background-color: #D1E5FD;
}

.triviaaboutbga1:nth-child(2) {
  background-color: #FBE8FE;
  border: 1px solid #d9aad9;
}

.triviaaboutbga1:nth-child(2) .triviaaaimage {
  background-color: #EECCFE;
}


.newsectionnssstrivia:first-child {
  background-color: #FEEDF7;
  border: 1px solid #FBEAF4;
}



.newsectionnssstrivia:first-child a {
  background: #FC0182;
  border-radius: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.newsectionnssstrivia:nth-of-type(2) {
  background-color: #EEE6FD;
  border: 1px solid #FBEAF4;
}

.newsectionnssstrivia:nth-of-type(2) a {
  background: #5403FD;
  border-radius: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.newsectionnssstrivia:first-child .w-20 {
  background: #FFD2EA;
}

.newsectionnssstrivia:nth-of-type(2) .w-20 {
  background: #DACFFF;
}

.newsectionnssstrivia:first-child svg text {
  /* fill: #FC0282; */
}


.iconssuperrr {
  filter: brightness(5.5);
}

.scrolleddddheaderrr .iconssuperrr {
  filter: none !important;
}


.svgtopngicon {
  height: 37px;
  width: 37px;
}


.paddingtopssss {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

@media (max-width: 768px) {
  .summerfestcardsslider .slick-slide {
    padding: 0;
  }

  .caasflexxx {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .newaddpaididid {
    padding: 20px 10px 20px 10px;
  }

  .mobileeefonrrrssd {
    font-size: 12px !important;
  }

  .festflexxxzxxs {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 15px;
  }

  .absolute.leftbuttonfestt.buttonsummers {
    left: 0;
    top: 65%;
  }

  .absolute.righttbuttonfestt.buttonsummers {
    right: 0;
    top: 65%;
  }

  .rleelleddbd {
    height: 190px;
  }
}